<!DOCTYPE html><html><head><style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { width: 720pt; height: 405pt; display: block; overflow: hidden; }
  </style></head>
<body style="background: #FFFFFF;">

    <div style="position: absolute; top: 40pt; left: 60pt;">
      <p style="font-family: Montserrat; font-size: 10pt; color: #FF7F66;
    text-transform: uppercase; letter-spacing: 0.1em; font-weight: 500;">TIMELINE</p>
      <h2 style="font-family: Montserrat; font-size: 22pt; color: #2D2C2E; margin-top: 8pt;">
        Project Timeline</h2>
    </div>
    <div style="position: absolute; top: 150pt; left: 60pt; width: 600pt;">
      <div style="position: absolute; top: 8pt; left: 54pt; width: 432pt;
        height: 2px; background: #FFAC9C;"></div>
      <div style="display: flex; justify-content: space-between; position: relative;">
        
    <div style="width: 108pt; text-align: center; position: relative;">
      <div style="width: 16pt; height: 16pt; border-radius: 50%; margin: 0 auto;
        background: #FF7F66;
        border: 3px solid #FF7F66;"></div>
      <p style="font-family: Montserrat; font-size: 11pt; color: #2D2C2E; margin-top: 10pt;">
        Landscape</p>
      <p style="font-family: Space Mono; font-size: 8pt; color: #FF7F66; margin-top: 2pt;">
        Week 1-2</p>
      <p style="font-family: Montserrat; font-size: 8pt; color: #B9B9BB; margin-top: 4pt;">
        Map stakeholders</p>
    </div>
  
    <div style="width: 108pt; text-align: center; position: relative;">
      <div style="width: 16pt; height: 16pt; border-radius: 50%; margin: 0 auto;
        background: #FF7F66;
        border: 3px solid #FFAC9C;"></div>
      <p style="font-family: Montserrat; font-size: 11pt; color: #2D2C2E; margin-top: 10pt;">
        Narrative</p>
      <p style="font-family: Space Mono; font-size: 8pt; color: #FF7F66; margin-top: 2pt;">
        Week 3-4</p>
      <p style="font-family: Montserrat; font-size: 8pt; color: #B9B9BB; margin-top: 4pt;">
        Test & refine</p>
    </div>
  
    <div style="width: 108pt; text-align: center; position: relative;">
      <div style="width: 16pt; height: 16pt; border-radius: 50%; margin: 0 auto;
        background: #FF7F66;
        border: 3px solid #FFAC9C;"></div>
      <p style="font-family: Montserrat; font-size: 11pt; color: #2D2C2E; margin-top: 10pt;">
        Engage</p>
      <p style="font-family: Space Mono; font-size: 8pt; color: #FF7F66; margin-top: 2pt;">
        Week 5-8</p>
      <p style="font-family: Montserrat; font-size: 8pt; color: #B9B9BB; margin-top: 4pt;">
        Direct briefings</p>
    </div>
  
    <div style="width: 108pt; text-align: center; position: relative;">
      <div style="width: 16pt; height: 16pt; border-radius: 50%; margin: 0 auto;
        background: #FF7F66;
        border: 3px solid #FFAC9C;"></div>
      <p style="font-family: Montserrat; font-size: 11pt; color: #2D2C2E; margin-top: 10pt;">
        Amplify</p>
      <p style="font-family: Space Mono; font-size: 8pt; color: #FF7F66; margin-top: 2pt;">
        Week 9-10</p>
      <p style="font-family: Montserrat; font-size: 8pt; color: #B9B9BB; margin-top: 4pt;">
        Media & allies</p>
    </div>
  
    <div style="width: 108pt; text-align: center; position: relative;">
      <div style="width: 16pt; height: 16pt; border-radius: 50%; margin: 0 auto;
        background: #FF7F66;
        border: 3px solid #FFAC9C;"></div>
      <p style="font-family: Montserrat; font-size: 11pt; color: #2D2C2E; margin-top: 10pt;">
        Sustain</p>
      <p style="font-family: Space Mono; font-size: 8pt; color: #FF7F66; margin-top: 2pt;">
        Week 11-12</p>
      <p style="font-family: Montserrat; font-size: 8pt; color: #B9B9BB; margin-top: 4pt;">
        Monitor & adapt</p>
    </div>
  
      </div>
    </div>
    
    <div style="position: absolute; bottom: 22pt; left: 40pt; width: 640pt;
      height: 0.5px; background: #ECECEC;"></div>
    <div style="position: absolute; bottom: 6pt; left: 40pt;">
      <p style="font-family: Montserrat; font-size: 8pt; color: #CCCCCD;">Duke Strategies</p>
    </div>
    
    
    <div style="position: absolute; bottom: 6pt; right: 40pt;">
      <p style="font-family: Space Mono; font-size: 8pt; color: #CCCCCD;">24</p>
    </div>
  
</body></html>